body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* 8px */
@font-face {
    font-family: MSSerif;
    src: url(./assets/fonts/MSSansSerif.ttf);
}

/* 21px */
@font-face {
    font-family: Daydream;
    src: url(./assets/fonts/Daydream.ttf);
}

/* 16px */
@font-face {
    font-family: LadyRadical;
    src: url(./assets/fonts/LadyRadical.ttf);
}

/* 12px */
@font-face {
    font-family: 'VerminVibes';
    src: url('./assets/fonts/Vermin-Vibes-1989.woff2') format('woff2'),
        url('./assets/fonts/Vermin-Vibes-1989.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
